<div class="tw-flex tw-gap-8 tw-p-12">

  <div class="tw-hidden sm:tw-block tw-w-full">
    <h5>
      Bandcamp
    </h5>
  </div>

  <div class="tw-w-auto lg:tw-w-3/12">
    <h6>
      Categories
    </h6>

    <ul class="tw-leading-loose">
      <li>
        Best sellers
      </li>

      <li>
        Animation
      </li>

      <li>
        Illustration
      </li>
    </ul>
  </div>

  <div class="tw-w-auto lg:tw-w-3/12">
    <h6>
      Projects
    </h6>

    <ul class="tw-leading-loose">
      <li>
        Blog
      </li>

      <li>
        Documents
      </li>

      <li>
        License
      </li>
    </ul>
  </div>

  <div class="tw-w-auto lg:tw-w-3/12">
    <h6>
      About
    </h6>

    <ul class="tw-leading-loose">
      <li>
        F.A.Q.
      </li>

      <li>
        Privacy
      </li>

      <li>
        Terms of use
      </li>
    </ul>
  </div>

</div>