<div class="tw-text-center">
  <h1>
    One-click <span class="tw-border-b-2 tw-border-primary">solution</span>
  </h1>

  <p class="h5 max-w-60-ch tw-mx-auto">
    Doloremque voluptates eos quasi ipsum minima ipsam, nihil magnam sed corrupti cumque iste, maxime aperiam, nemo fugiat.
  </p>

  <br>
  <br>
  <button
    type  ="button"
    class ="btn btn-lg btn-primary tw-w-40"
  >
    Buy Now
  </button>
</div>