<div class="tw-text-center">
  <h1>
    Customers
  </h1>

  <p class="h5 max-w-60-ch tw-mx-auto">
    Nihil magnam sed corrupti cumque iste, maxime aperiam, nemo fugiat.
  </p>
</div>

<br>
<br>
<br>
<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-4">

  <div class="article-box article-box-md tw-h-max tw-bg-bg-dk">
    <div class="tw-flex tw-gap-4">
      <div class="tw-w-auto">
        <div class="avatar">
          <img src="/assets/avatar-1.svg" alt="">
        </div>
      </div>

      <div class="tw-w-8/12">
        <h6>Hannah</h6>
        <div>
          <p>@hannah</p>
        </div>
      </div>

      <div class="tw-w-2/12 tw-text-right">
        <i class="fab fa-twitter icon-md tw-text-twitter"></i>
      </div>
    </div>

    <br>
    <div>
      <h6>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </h6>

      <br>
      <p>
        8:50 AM · Sep 11, 2021
      </p>
    </div>
  </div>

  <div class="article-box article-box-md tw-h-max tw-bg-bg-dk">
    <div class="tw-flex tw-gap-4">
      <div class="tw-w-auto">
        <div class="avatar">
          <img src="/assets/avatar-2.svg" alt="">
        </div>
      </div>

      <div class="tw-w-8/12">
        <h6>Patrick</h6>
        <div>
          <p>@patrick</p>
        </div>
      </div>

      <div class="tw-w-2/12 tw-text-right">
        <i class="fab fa-twitter icon-md tw-text-twitter"></i>
      </div>
    </div>

    <br>
    <div>
      <h6>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </h6>

      <br>
      <p>
        8:50 AM · Sep 11, 2021
      </p>
    </div>
  </div>

  <div class="article-box article-box-md tw-h-max tw-bg-bg-dk">
    <div class="tw-flex tw-gap-4">
      <div class="tw-w-auto">
        <div class="avatar">
          <img src="/assets/avatar-3.svg" alt="">
        </div>
      </div>

      <div class="tw-w-8/12">
        <h6>Tom</h6>
        <div>
          <p>@tom</p>
        </div>
      </div>

      <div class="tw-w-2/12 tw-text-right">
        <i class="fab fa-twitter icon-md tw-text-twitter"></i>
      </div>
    </div>

    <br>
    <div>
      <h6>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </h6>

      <br>
      <p>
        8:50 AM · Sep 11, 2021
      </p>
    </div>
  </div>

</div>

