<div class="article-box article-box-lg tw-bg-primary">
  <div class="tw-flex tw-flex-wrap tw-gap-8 tw-items-center">

    <div class="tw-w-auto">
      <div class="tw-rounded-full tw-p-4 tw-h-24 tw-w-24 tw-text-center tw-bg-black tw-bg-opacity-25">
        <i class="fab fa-mailchimp icon-xxl tw-text-white"></i>
      </div>
    </div>

    <div class="tw-w-auto">
      <h3>
        Join our mailing list
      </h3>

      <h5 class="tw-text-white tw-text-opacity-75">
        Enter your email to join our mailing list
      </h5>
    </div>

    <div class="tw-w-full lg:tw-w-4/12 tw-ml-auto">
      <form>

        <div class="input-group">
          <input
            type  ="text"
            class ="form-control form-control-lg tw-rounded-full tw-pr-28"
          >

          <button class="btn btn-primary tw-rounded-full
            tw-absolute tw-top-1/2 tw-right-2 tw-transform tw--translate-y-1/2">
            <i class="fas fa-paper-plane"></i> &nbsp; Send
          </button>
        </div>

      </form>
    </div>

  </div>
</div>