<div class="tw-rounded tw-overflow-hidden tw-bg-primary tw-min-h-80">

  <div class="tw-flex tw-flex-wrap">

    <div class="tw-w-full lg:tw-w-5/12">
      <div class="tw-h-full tw-bg-black">

        <picture>
          <img
            class ="tw-h-full tw-object-cover tw-opacity-75"
            src   ="/assets/img-1_mpt91e_c_scale,w_1400.jpg"
            alt   =""
            srcset="
             /assets/img-1_mpt91e_c_scale,w_576.jpg 576w,
             /assets/img-1_mpt91e_c_scale,w_877.jpg 877w,
             /assets/img-1_mpt91e_c_scale,w_1131.jpg 1131w,
             /assets/img-1_mpt91e_c_scale,w_1285.jpg 1285w,
             /assets/img-1_mpt91e_c_scale,w_1400.jpg 1400w"
            sizes ="(max-width: 1400px) 1400px, 100vw"
          >
        </picture>

      </div>
    </div>

    <div class="tw-w-full lg:tw-w-7/12">
      <div class="tw-p-12 tw-filter tw-drop-shadow">
        <h2>
          Endless browser capabilities
        </h2>

        <p class="h5 tw-text-white tw-text-opacity-75">
          Reprehenderit, iure labore, non, impedit doloremque magni suscipit nobis eaque molestias sint saepe aliquam ipsa inventore perspiciatis consequuntur expedita.
        </p>
      </div>
    </div>

  </div>

</div>
