<div class="tw-text-center">
  <h1>
    Services
  </h1>

  <p class="h5 max-w-60-ch tw-mx-auto">
    Nihil magnam sed corrupti cumque iste, maxime aperiam, nemo fugiat.
  </p>
</div>

<br>
<br>
<br>
<div class="tw-grid tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-4">

  <div class="article-box article-box-lg tw-h-full tw-bg-bg-lt">
    <h5>
      Fast Replies
    </h5>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>


  <div class="article-box article-box-lg tw-h-full tw-bg-bg-lt">
    <h5>
      SEO Optimized
    </h5>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>


  <div class="article-box article-box-lg tw-h-full tw-bg-bg-lt">
    <h5>
      Success Metrics
    </h5>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>


  <div class="article-box article-box-lg tw-h-full tw-bg-bg-lt">
    <h5>
      Custom Features
    </h5>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>


  <div class="article-box article-box-lg tw-h-full tw-bg-bg-lt">
    <h5>
      Ongoing Feedback
    </h5>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>


  <div class="article-box article-box-lg tw-h-full tw-bg-bg-lt">
    <h5>
      Speed and Performance
    </h5>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>

</div>
