<div class="tw-text-center">
  <h1>
    Browsers
  </h1>

  <p class="h5 max-w-60-ch tw-mx-auto">
    Nihil magnam sed corrupti cumque iste, maxime aperiam, nemo fugiat.
  </p>
</div>

<br>
<br>
<br>

<div class="tw-w-7/12 tw-mx-auto">
  <div class="tw-grid tw-grid-cols-2 md:tw-grid-cols-4 tw-gap-12">

    <div class="tw-text-center">
      <img
        src   ="/assets/chrome.svg"
        alt   =" "
        class = "tw-h-20 tw-mx-auto"
      >

      <br>
      <h6>
        Chrome
      </h6>
    </div>

    <div class="tw-text-center">
      <img
        src   ="/assets/firefox.svg"
        alt   =" "
        class = "tw-h-20 tw-mx-auto"
      >

      <br>
      <h6>
        Firefox
      </h6>
    </div>

    <div class="tw-text-center">
      <img
        src   ="/assets/edge.svg"
        alt   =" "
        class = "tw-h-20 tw-mx-auto"
      >

      <br>
      <h6>
        Edge
      </h6>
    </div>

    <div class="tw-text-center">
      <img
        src   ="/assets/safari.svg"
        alt   =" "
        class = "tw-h-20 tw-mx-auto"
      >

      <br>
      <h6>
        Safari
      </h6>
    </div>

  </div>
</div>
