<nav class="navbar">

  <a
    href  ="#"
    class ="navbar-brand h5 tw-text-white"
  >
    <i class="fab fa-bandcamp icon-md tw-mr-3 tw-text-primary"></i>
    Bandcamp
  </a>

  <ul class="navbar-nav tw-justify-center">
    <li class="nav-item">
      <a
        href  ="#"
        class ="nav-link active"
      >
        Product
      </a>
    </li>

    <li class="nav-item">
      <a
        href  ="#"
        class ="nav-link"
      >
        Services
      </a>
    </li>

    <li class="nav-item">
      <a
        href  ="#"
        class ="nav-link"
      >
        Customers
      </a>
    </li>

    <li class="nav-item">
      <a
        href  ="#"
        class ="nav-link"
      >
        Browsers
      </a>
    </li>
  </ul>

  <div class="tw-hidden lg:tw-block tw-justify-end">
    <button
      type  ="button"
      class ="btn btn-primary"
    >
      Buy Now
    </button>
  </div>

</nav>
